body{
background:#0b0f1a;
color:white;
font-family:sans-serif;
text-align:center;
}

button{
padding:12px 20px;
margin:10px;
background:#00ff88;
border:none;
border-radius:8px;
font-size:16px;
}

.hidden{
display:none;
}

#timer{
font-size:40px;
color:red;
}

#quickVoteInfo{
color:#ccc;
}

@keyframes panicFlash{

0%{background:#0b0f1a}
50%{background:#400000}
100%{background:#0b0f1a}

}

.panicMode{

animation:panicFlash 0.6s infinite;

}